# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build & Publish

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 18
        uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'temurin'
          cache: gradle
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: -Pversion=${{ github.event.release.tag_name || '1.0-SNAPSHOT' }} build
      - name: Run Tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test integrationTest
      - name: Archive test report
        uses: actions/upload-artifact@v2
        with:
          name: Test report
          path: build/reports/tests/test
      - name: Publish with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: -Pversion=${{ github.event.release.tag_name || '1.0-SNAPSHOT' }} publish
        env:
          ACTION_DEPLOY_USER: ${{ secrets.ACTION_DEPLOY_USER }}
          ACTION_DEPLOY_TOKEN: ${{ secrets.ACTION_DEPLOY_TOKEN }}
